* {
  margin: 0%;
  padding: 0%;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  padding: 1rem;
}

header li {
  display: inline;
  padding: 0 1rem;
}

header ul {
  list-style: none;
}

section {
  text-align: center;
  z-index: 2;
}

img {
  width: 400px;
}

.hidden {
  display: none;
}

ul {
margin-top: 10px;
}

ul li {
  list-style: none;
}

button {
  width: auto;
}